Stenosis detection*
.vscode
output/
output2/
output3/
test_images/
train_images/
yolov3.weights
yolov4.weights
Stenosis-4*
requirements.txt
Stenosis-5*
Stenosis-7*
yolov5s.pt
*.h5
test_xmls/
train_xmls/
val_xmls/
Stenosis_224x224/